<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="body-container">
      <div class="glass form">
        <h1>sign in</h1>
        <% if (error) {%>
        <p class="red"><%= error %></p>
        <% } %>
        <form action="/auth/sign-in" method="POST" class="form">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
          </div>
          <button type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </body>
</html>
