<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?" />
    <title>Settings</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="body-container">
      <div class="glass form">
        <h1>Settings</h1>
        <form action="/settings?_method=PUT" method="POST" class="form">
          <div>
            <label for="daily-goal">Set Daily Goal in miles:</label>
            <input
              type="number"
              name="dailyGoal"
              id="daily-goal"
              value="<%= dailyGoal %>"
              required
            />
          </div>
          <div>
            <label for="location">Zip-code (for weather location):</label>
            <input
              type="number"
              name="location"
              id="location"
              value="<%= location %>"
              required
            />
          </div>
          <button type="submit">Apply</button>
        </form>
      </div>
    </div>
  </body>
</html>
