<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png?" />
    <title>Home</title>
  </head>
  <body class="index">
    <%- include('./partials/_navbar.ejs') %>
    <div class="welcome-container">
      <h1 class="welcome">
        Welcome to Run<span class="orange">Down</span><% if (user) {%>, <%=
        user.username %> <% } %>
      </h1>
    </div>
  </body>
</html>
