@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-image: url("../images/jake-blucker-OJX7gIU3E6U-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #f5f5f5;
  display: grid;
  grid-template-rows: auto 1fr;
}

nav {
  display: flex;
  gap: 2rem;
}

input {
  margin: 0.5rem 0.5rem 2rem 0rem;
  width: 25rem;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #1a2c31;
  background: none;
  transition: 0.3s;
}

.html-duration-picker-input-controls-wrapper {
  margin: 0.5rem 0.5rem 2rem 0rem;
  width: 25rem;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #1a2c31;
  background: none;
  transition: 0.3s;
}

.scroll-btn[aria-label="Increase duration"] {
  top: -1.5rem !important;
}

.scroll-btn[aria-label="Decrease duration"] {
  top: -0.5rem !important;
}

input:focus {
  outline: none;
  margin-top: 1rem;
}

button {
  width: 16rem;
  height: 3rem;
  border: 2px solid #1a2c31;
  border-radius: 5px;
  background: none;
  color: #1a2c31;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 30px;
  align-self: center;
  transition: 0.3s;
}

button:hover {
  background: #1a2c31;
  color: #f5f5f5;
}

a {
  text-align: center;
}

.orange {
  color: #ff6542;
}

.red {
  color: #ff3b3b;
}

.big {
  font-size: 2.5rem;
}

.glass {
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border-radius: 10px;
}

.header {
  margin-top: 1rem;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 4rem;
  height: 7rem;
  border-radius: 0;
}

.header a {
  text-decoration: none;
  position: relative;
  font-size: 1.6rem;
  color: #f5f5f5;
}

.header a:hover {
  color: #f5f5f5;
}

.header a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header a:hover::before {
  transform: scaleX(1);
}
.header h1 {
  font-size: 4rem;
}

.welcome-container {
  padding: 6rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.welcome {
  font-size: 9rem;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 2.5rem;
  height: auto;
  min-height: auto;
  width: 25%;
  min-width: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #1a2c31;
}

.index-container {
  display: flex;
  padding: 8rem 5rem 2rem 5rem;
  width: 100%;
  height: 100%;
}

.run-container {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 2rem;
  width: 50%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.run-container a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  width: 80%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.head a {
  display: flex;
  justify-content: end;
}

.head svg:hover {
  height: 32px;
}

.show {
  padding: 2rem;
  height: 70%;
  width: 25%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  color: #1a2c31;
}

.show a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: large;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.dash-header {
  grid-column: 1/4;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(83, 81, 81, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(51, 50, 50, 0.5);
}

.weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  grid-column: 1/3;
}

.temp {
  font-size: 130px;
}

.temp-container {
  display: flex;
  align-items: start;
}

.small {
  position: relative;
  top: 20px;
}

.owf {
  height: 150px;
  width: 150px;
}

.owf::before {
  font-size: 150px;
}

.average-speed {
  grid-column: 3/4;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.very-big {
  font-size: 130px;
}

.daily-goal {
  grid-column: 2/4;
}

.total-distance {
  grid-column: 1/2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
